[submodule "Server"]
	path = Server
	url = https://github.com/OrderEase/Server.git
[submodule "OrderEase-2B"]
	path = OrderEase-2B
	url = https://github.com/OrderEase/OrderEase-2B.git
[submodule "OrderEase-2C"]
	path = OrderEase-2C
	url = https://github.com/OrderEase/OrderEase-2C.git
